{% extends "base.html" %}

{% block content %}

    <h3>Edit Comment:</h3>

    <form action="{% url 'news:edit_comment' comment_slug=comment.slug %}" method="POST">
        {% csrf_token %}

        {% for field in CommentForm %}
            <div class="{%if field.errors %}error{%endif%}">
                {{field.label_tag}}{{ field }}
            </div>
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endfor %}

        <input type="submit" class="button" value="Edit Comment"/>
    </form>


    <form action="{% url 'news:delete_comment' comment_slug=comment.slug %}" method ="POST">
        {% csrf_token %}
        <input type="submit" class="button" id= "delete" value="Delete Comment" />
    </form>

{% endblock content %}




