{% extends "base.html" %}

{% block content %}

    <h3>Edit Post:</h3>

    <form action="{% url 'news:edit' post_slug=post.slug %}" method="POST">
        {% csrf_token %}

        {% for field in EditForm %}
            <div class="{%if field.errors %}error{%endif%}">
                {{field.label_tag}}{{ field }}
            </div>
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endfor %}

        <input type="submit" class="button" value="Edit Post"/>
    </form>


    <form action="{% url 'news:delete' post_slug=post.slug %}" method ="POST">
        {% csrf_token %}
        <input type="submit" class="button" id= "delete" value="Delete Post" />
    </form>

    <div id="comment_div"> </div>
    <br>
    <p>Add Comment:</p>

    <form action="{% url 'news:comment' post_slug=post.slug %}" method="POST" id="comment_form">
        {% csrf_token %}

        {% for field in CommentForm %}
            <div class="{%if field.errors %}error{%endif%}">
                {{field.label_tag}}{{ field }}
            </div>
            {% for error in field.errors %}
                <small class="error">{{ error }}</small>
            {% endfor %}
        {% endfor %}
        
        <div id="submit_comment_div"> </div>
        <br>
        <input type="submit" id ="comment" class="button" value="Comment on Post"/>

    </form>

<div id="post_slug_thing">{{ post.slug }} </div> 

{% endblock content %}




