{% extends "base.html" %}

{% block content %}

    <h2 id="welcome">Welcome!</h2>

    <div id="links"> 
        <a href="register"> Register!</a>
        <br>
        <a href="login"> Login</a>
            <div>{{ message }}</div>   
        <a href="logout"> Logout</a>

    </div>

        <div><a id="create" class="button" href="{% url 'news:create' %}"> Create New Post</a></div>


    {% for post in posts %}
        {% if post.show == True %}

        <div class="post">
            <a class="title" href="/news/edit/{{ post.slug }}"> <div class="title"> {{ post.title }} 
            </div> </a>
            {{ post.content|linebreaks }}
           <div class="link"> Link: {{ post.link }} </div>
            <div class="author"> Author: {{ post.user }} </div>
        </div>

            <p class="date">Create: {{ post.created_at }} </p>

        {% endif %}

            {% for comment in comments %}
                {% if comment.show == True %}
                    {% if comment.post.id == post.id %}

                    <div class="comment">
                        <a href="/news/edit_comment/{{ comment.slug }}"> <p class="comment_id"> <div class="comment_title"> {{ comment.title }} </div> </a>

                        <div class="comment"> <strong> Comment: </strong> {{ comment.content }} </div>

                        <div class="link"> Link: {{ comment.link }} </div>
                        <div class="author"> Author: {{ comment.user }} </div>
                        <div class="post_id">Post ID: {{ comment.post.slug }} </div>
                    </div>

                    {% endif %}
                {% endif %}
            {% endfor %}

    {% endfor %}


{% endblock content %}


