{% extends "base.html" %}

{% block content %}

    <h2 id="welcome">Welcome!</h2>

    <h4>This is the index page</h4>


    <div id="links"> 
        <br>
        <a href="register"> Register!</a>
        <br>
        <a href="login"> Login</a>
            <div>{{ message }}</div>   
        <br>
        <a href="logout"> Logout</a>

        <div><a id="create" class="button" href="{% url 'news:create' %}"> Create New Post</a></div>
    </div>


    {% for post in posts %}
        {% if post.show == True %}

        <div class="post">
            <a class="title" href="/news/edit/{{ post.slug }}"> <p class="title"> {{ post.title }} 
            </p> </a>
            {{ post.content|linebreaks }}
<!--             slug -{{ post.slug }}  --> 
           Link: {{ post.link }}
            <p class="author"> Author: {{ post.user }} </p>
        </div>

            <p class="date">Create: {{ post.created_at }}  -  Update: {{ post.updated_at }}</p>
        {% endif %}
    {% endfor %}

{% endblock content %}


